@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 69px;
    background-color: #EC4631;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
main{
    width: 1051px;
    margin: 146px auto 0 auto;
}
.create-quizz{
    margin: 0 auto;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    width: 1051px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.create-quizz p{
    font-size: 20px;
    color: #B9B9B9;
}
.button-create-quizz{
    margin-top: 25px;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC4631;
    color: #EC4631;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.your-quizzes{
    margin: 146px auto 100px auto;
    width: 1051px;
}
.your-quizzes > div:nth-child(1){
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 12px;
}
.your-quizzes > div:nth-child(1) img{
    margin-left: 10px;
    cursor: pointer;
}
.my-quizzes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.every-quizzes-title{
    margin: 77px auto 12px auto;
    font-weight: bold;
}
.quizzes{
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
    margin: 0 auto;
}
.quizz{
    position: relative;
    cursor: pointer;
    width: 340px;
    margin: 5px;
    background: linear-gradient(to top ,rgba(0,0,0) , rgba(0,0,0,0))
}
.quizz img{
    height: 181px;
    width: 100%;
    position: relative;
    z-index: -1;
}
.title{
    position: absolute;
    bottom: 30px;
    color: white;
    margin-left: 18px;
    margin-right: 10px;
    z-index: 1;
    font-size: 18px;
}
.img-quizz{
    width: 100%;
    height: 227px;
    position: relative;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-quizz img{
    width: 100%;
    height: 100%;
}
.img-quizz p{
    position: absolute;
    color: white;
    font-size: 39px;
}
.question{
    width: 769px;
    height: 678px;
    margin: 0 auto 40px auto;
}
.question h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #434CA0;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.answers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answers div{
    width: 350px;
    height: 250px;
    margin: 10px;
    cursor: pointer;
}
.answers img{
    width: 100%;
    height: 90%;
}
.answers p{
    margin-top: 10px;
}
@media (max-width: 1100px) {
    main{
        width: 100%
    }
    .every-quizzes-title{
        margin: 35px auto 14px auto;
        width: 340px;
    }
    .create-quizz{
        width: 95%;
    }
    .quizzes{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
    }
    .my-quizzes{
        flex-direction: column;
        width: 95%;
        align-items: center;
    }
    .quizz{
        margin: 0 0 14px 0;
    }
    .your-quizzes{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .your-quizzes > div:nth-child(1){
        width: 340px;
        justify-content: space-between;
    }
    .question{
        width: 95%;
    }
    .answers div{
        width: 40%;
        height: 40%;
    }
}
@media (max-width: 360px) {
    .quizz{
        width: 100%;
    }
    .every-quizzes-title{
        width: 100%;
        padding-left: 7px;
    }
    .your-quizzes > div:nth-child(1){
        width: 95%;
    }
}
.hide{
    display: none;
}
